.overflow-hidden {
  overflow: hidden !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.w-25 {
  width: 25% !important;
}
.h-25 {
  height: 25% !important;
}
.mw-100 {
  max-width: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.float-left {
  float: left !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
.text-justify {
  text-align: justify !important;
}
.text-left {
  text-align: left !important;
}